
.MixtapeLive {
    background-color: rgb(143, 199, 236); 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    visibility: hidden;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5%;
    opacity: 100;
    position:absolute;
        top:40%;
        right:1%;

}

footer:hover .MixtapeLive{
    visibility: visible;
}   